name: Generate Podcast Feeds
on: [push]
jobs:
  build:
    runs-on: ubunto-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Run Feed Generator
        uses: since-89/pd-gn-marathi@main
        
